
.box_container
{
	width:100%; height:100%;  display:flex; justify-content:center; align-items:center;   background:rgba(0,0,0,0.8); 
	position:absolute;
	top:0px;
	left:0px;	
	backdrop-filter:blur(10px);
}
#box_container_id
{
	display:none;
}
.box
{
	width:calc(380px + 4vw);	height:auto;	background:rgba(255,255,255,1);	padding-left:20px; padding-top:20px;	padding-right:20px; 	color:#000;	
	margin:auto;	overflow:hidden;
	box-shadow:0px 5px 10px -3px rgba(0,0,0,1);	
	 
}
.box_heading
{
	width:100%;
	height:auto;
	font-size:calc(25px + 0.1vw);
	color:#000;
	padding-bottom:10px;padding-top:10px;padding-left:10px;padding-right:10px;
	
}
.box p
{
	
	font-size:20px;
	font-style:italic;
	width:100%;
	min-height:100px;
	padding-bottom:10px;padding-top:10px;
	font-size:calc(16px + 0.1vw);
	margin-bottom:10px;margin-top:10px;
}
.message
{
	display:none;
}


.ok_btn_container
{
	margin-bottom :20px;
	width:100%;
	height:auto;
	padding-bottom:5px;
	/position:relative;
	display:flex;
	justify-content:end;
	
} 
.ok_btn
{
	padding-left:30px;	padding-right:30px; 	 padding-top:10px;		 padding-bottom:10px;	
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	background-color:rgba(0,0,0,1);	color:rgba(255,255,255,1); font-size:15px;  	
	margin-left:5px;margin-right:5px;
	border:none;
	text-decoration:none;
	text-align:center;
}
.ok_btn:hover
{
	filter:blur(2px);
	opacity:0.8;
}
#ok_btn_1, #ok_btn_2,#ok_btn_3,#ok_btn_4
{
	display:none;
}
@media only screen and (max-width: 500px)
{
	.box
	{
		width:calc(280px + 4vw);
	}
}
